
body {
    background-color: #050B31;
    color: white; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.volver {
    position: absolute;
    top: 30px;    
    left: 30px;     
    font-size: 100px;  
    padding: 20px;
    color: white; 
    font-weight: 750;
    cursor: pointer;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

input {
    background-color: #19819B;
    border-radius: 20px; 
    margin-bottom: 15px;
    width: 400px; 
    padding: 12px; 
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
}

input::placeholder {
    color: white;
}

label{
    margin: 15px 0px 15px;
    font-size: 18px;
}

input[type="submit"]{
    width: 150px;
    padding: 8px;
    margin-top: 20px;
    background-color: #19819B;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00FF88;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    transform: scale(1.05);
}

.texto-cuenta {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.link-registro {
    color: white;           
    text-decoration: none;  
    margin-left: 5px;
}

.link-registro:hover {
    text-decoration: underline; 
}

input {
    font-size: 16px;
}

.logo{
    width: 800px;
    height: 300px;
    object-fit: contain;
}

.social-login {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    gap: 15px; 
    width: 100%; 
    margin-top: 40px;
}

.social-login img {
    height: 45px ;
    object-fit: contain;
    cursor: pointer;
}

.texto span {
  color: white;
  font-size: 12px;
  line-height: 1.5;
  display: block;
  max-width: 420px;
  text-align: center;
  line-height: 1.7;
  padding-top: 35px;
}


/* =========================
   ESTILOS SOLO PARA INICIO
   ========================= */

.inicio .topbar{
    width: 100%;
    display: flex;
    padding: 25px 40px;
    align-items: center;
    justify-content: space-between;
}

#buscador::placeholder {
    color: #050B31;
}

.inicio .menu{
    align-items: center;
    font-size: 26px;
    cursor: pointer;
}

.inicio #buscador{
    width: 60%;
    gap: 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: white;
    color: black;
}

.inicio .right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.inicio .right .link{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.inicio .right .btn{
    background: #1cb5c9;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.inicio .bloque{
    padding: 20px 40px;
}

.inicio .bloque-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio .flecha{
    font-size: 30px;
    cursor: pointer;
}

.inicio .cards{
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.inicio .card{
    background: #050B31;
    width: 350px;
    height: 400px;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 15px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.inicio .card:hover{
    transform: translateY(-5px);
}
.img {
  width: auto;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.registro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050B31; 
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.registro .volver {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 100px;
  padding: 20px;
  font-weight: 750;
  cursor: pointer;
  color: white;
}

.registro .logo img {
  width: 400px;
  margin-bottom: 40px;
  display: flex;
}


.registro form {
  background-color: #19819B33;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.registro .input-box {
  width: 100%;
}

.registro .input-box input {
  width: 400px; 
  padding: 12px;
  border-radius: 20px;
  border: none; 
  background-color: #19819B; 
  color: white;
  font-size: 16px;
  outline: none;
  text-align: center;
  transition: 0.3s;
}

.registro .input-box input::placeholder {
  color: white;
}

.registro input[type="submit"] {
  width: 150px; 
  padding: 12px;
  border-radius: 20px;
  background-color: #19819B; 
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 4px #00FF88; 
  transition: 0.3s;
}

.registro input[type="submit"]:hover {
  transform: scale(1.05);
}

.registro label {
  margin-bottom: 6px;
  font-size: 18px;
}

/* =========================
   NUEVO BLOQUE: DISCOTECAS
   ========================= */

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 4px;
}


.discotecas {
  max-width: 1000px; 
  width: 100%; 
  margin: 0px auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.discotecas .logo img {
  height: 300px;
  width: auto;
}

.header .menu {
  font-size: 24px;
  cursor: pointer;
}

.header .perfil {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #222; 
  text-align: center;
}
.discotecas h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 600;
}

.sub {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.filtro {
  flex: 1;
  max-width: 120px;
  background: white;
  color: black;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.evento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A1233; 
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.fecha {
  background: #1aa6b7;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  text-align: center;
  padding-top: 8px;
  margin-right: 15px;
  flex-shrink: 0;
}

.fecha span {
  display: block;
  font-size: 10px;
  color: white;
}

.fecha strong {
  display: block;
  font-size: 18px;
  color: white;
}

.info {
  flex: 1;
  text-align: left;
}

.hora {
  font-size: 12px;
  color: #bbb;
}

.info h3 {
  margin: 4px 0;
  font-size: 16px;
  font-weight: 600;
}

.info p {
  font-size: 12px;
  color: #aaa;
  margin: 0;
}

.estado {
  display: inline-block;
  margin-top: 4px;
  font-size: 10px;
  background: #ffffff20; 
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
}

.flecha {
  font-size: 24px;
  color: white;
  cursor: pointer;
  flex-shrink: 0;
}

.flecha:hover {
  color: #1aa6b7;
}

.paginas {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.paginas span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  background-color: #1aa6b7;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.paginas span.activo {
  background-color: white;
  color: #1aa6b7;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
 
body {
  margin: 0;
  min-height: 100vh;
  background: #050B31;
  color: white;
}
 
.registro-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.registro-page .logo img {
  width: 500px;}
 
.header .logo img {
  width: 460px;
  height: 170px;
  margin-bottom: 5px; 
 
}
 
.volver {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 26px;
  cursor: pointer;
}
 
/* Logo */
.logo img {
  width: 500px;
  margin-bottom: 25px;
}
 
.card {
  background: #1e2a5a;
  padding: 35px;
  border-radius: 18px;
  width: 550px;
}
 
.input-box {
  position: relative;
  margin-bottom: 18px;
}
 
.input-box label {
  display: block;
  margin-left: 20px;
  margin-bottom: 6px;
  font-size: 14px;
}
 
.input-box input {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: 2px dashed rgba(255, 255, 255, 0.503);
  background: #1e2a5a;
  color: white;
  outline: none;
  text-align: center;
  z-index: 2;
  position: relative;
}
 
.input-box::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0,255,150,0.9),
    rgba(0,0,0,0)
  );
  filter: blur(10px);
  border-radius: 25px;
  z-index: 1;
}
 
input[type="submit"] {
  margin: 15px auto 0;
  display: block;
  width: 40%;
  padding: 14px;
  border-radius: 18px;
  border: 2px solid white;
  background: #1aa6b7;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
 
input[type="submit"]:hover {
  background: #16c1d6;
}
 
 
.discotecas {
  max-width: 1300px;
  margin: 0 auto;
  color: white;
}
 
.discotecas h2 {
  text-align: center;
  margin: 10px 0;
}
 
.sub {
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
 
.filtros {
  display: flex;
  gap: 30px;
  margin: 30px 0;
}
 
.filtro {
  flex: 1;
  background: white;
  color: black;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
 
.evento {
  display: flex;
  align-items: center;
  padding:18px 25px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
 
.fecha {
  background: #1aa6b7;
  width: 70px;
  height: 70px;
  border-radius: 12px;
  text-align: center;
  padding-top: 6px;
  margin-right: 14px;
}
 
.fecha span {
  font-size: 11px;
}
 
.fecha strong {
  font-size: 24px;
}
 
.info {
  flex: 1;
}
 
.hora {
  font-size: 12px;
  color: #bbb;
}
 
.info h3 {
  margin: 3px 0;
  font-size: 14px;
}
 
.info p {
  font-size: 12px;
  color: #aaa;
}
 
.estado {
  display: inline-block;
  margin-top: 4px;
  font-size: 10px;
  background: white;
  color: black;
  padding: 2px 6px;
  border-radius: 6px;
}
 
.flecha {
  font-size: 22px;
  opacity: 0.8;
}
 
/*INFO EVENTO (DESKTOP)*/
 
html, body {
  width: 100%;
  overflow-x: hidden;
}
 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}
 
.header .logo {
  flex: 0;
  display: flex;
  justify-content: center;
}
 
.menu,
.perfil {
  width: 36px;
  height: 36px;
  background: #1aa6b7;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
 
 

.infoevento {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 40px;
  color: white;
}
 
.infoevento-titulo {
  text-align: center;
  font-size: 22px;
  margin-top: -40px;
  margin-bottom: 20px;
}
 
.evento-imagen {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 10px;
}
 
.evento-imagen img {
  width: 520px;
}
 
.evento-datos {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 25px;
}
 
.evento-contenido .imageneslm img {
  width: 380px !important;
  height: 250px;
  border-radius: 12px;
  display: block;
  margin: 20px auto;
}

/* Tabs */
/* Tabs contenedor */
.evento-tabs {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 35px;
  background: #0f7f8f;
  border-radius: 25px;
  padding: 4px;
}
 
/* Botones */
.evento-tabs button {
  border: none;
  background: transparent;
  color: white;
  padding: 10px 20px;
  width: 600px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
 
/* Activo */
.evento-tabs button.activo {
  color:rgb(86, 227, 86);
  font-weight: 700;
}
 
 
 
/* Hover */
.evento-tabs button:hover {
  background: rgba(255,255,255,0.15);
}
 
 
/* Contenido */
.infoevento-contenido {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
 
.infoevento-texto {
  width: 40%;
}
 
.infoevento-texto h3 {
  margin-bottom: 10px;
}
 
.evento-texto p {
  line-height: 1.6;
  color: #ddd;
}
 
/* Mapa */
.infoevento-mapa {
  width: 55%;
}
 
.evento-mapa iframe {
  width: 100%;
  height: 280px;
  border-radius: 12px;
  border: none;
}
 
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  border-top: 1px solid rgba(255,255,255,0.15);
  font-size: 13px;
 }

.footer-links span {
  margin-right: 15px;
  cursor: pointer;
}
.footer-redes span {
  background: rgba(255,255,255,0.1);
  padding: 6px 8px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
