<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>NightFest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body class="nf-body">

    <header class="nf-header">
        <div class="nf-menu">☰</div>

        <div class="nf-logo">
            <a href="inicioconlogin.html">
                <img src="logo NightFestSinFondo.png" class="logo" alt="Logo NightFest">
            </a>
        </div>

        <div class="nf-user">
            <a href="perfil.html">Usuario</a>
        </div>
    </header>

    <main class="nf-container">

        <h2 class="nf-title">DESTACADOS</h2>

        <div class="nf-grid">

            <div class="nf-col">
                <img src="https://images.unsplash.com/photo-1518972559570-7cc1309f3229">
                <p>
                    Teniendo en cuenta este cambio, se ofrecen dos opciones:
                    mantener las localidades para el día 22 de febrero o
                    canjearlas por otras fechas disponibles.
                </p>

                <img src="https://images.unsplash.com/photo-1516450360452-9312f5e86fc7">
                <p>
                    Desde que entras, notas el cuidado de cada detalle,
                    pensado para ofrecer una experiencia nocturna única.
                </p>
            </div>

            <div class="nf-col">
                <p>
                    Barcelona ofrece una vida nocturna vibrante con eventos,
                    conciertos y fiestas para todos los gustos.
                </p>

                <img src="https://images.unsplash.com/photo-1521334884684-d80222895322">

                <p>
                    Illusion Barcelona se posiciona como uno de los locales
                    más visitados por su ambiente, música y estética moderna.
                </p>

                <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d">
            </div>

        </div>
    </main>

    <footer class="foot">
        <div class="terms">
            <span>Términos</span>
            <span>Ayuda</span>
            <span>Privacidad</span>
        </div>

        <div class="fot">
            <span>🎵</span>
            <span>✖</span>
            <span>📷</span>
            <span>📘</span>
        </div>
    </footer>

</body>

</html>